
select{
  margin-left: 40px;

}


table, th, td {
  padding: 10px;
  background: #f3f1ef;
  font-size: large;

}

body{
  background-color: lightgrey;
}

button{
  margin-left: 10px;
  background: transparent;
  size: 20px;
  background-color: inherit;
  border: black;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
li{
  size: 30px;
  padding: 5px;
}
ul{
  width: 100%;
}

a {
  font-family: sans-serif;
  font-size: 15px;
  color: black;
  padding: 0 0 0 2px;



}

a:hover {
  color:blueviolet ;
  transition: 0.3s;
}
select{
  color: #999;
  float: right;
}
input{
  color: #999;
  margin-left: 5rem;
}
h1{
  font-family: monospace;
  font-weight: bold;
  font-size: 30px;
  
}
table{
  width: 100%;
}
h2{
font-size: 100px;
}